{{ define "title" }}About Project ARES{{ end }}

{{ define "content" }}
<div class="jumbotron">
    <h1>About Project ARES</h1>
    <p>A project borne out of my love of anime and computer science.  A recommendation expert system focusing anime.</p>
</div>
{{ end }}
