{{ define "title" }}Contact Project ARES{{ end }}

{{ define "content" }} 
<div class="jumbotron">
    <h1>Contact Us</h1>
    <p> This project is still really early in the development process.  If you are seeing this page and we are not in contact I would be really suprised.
        Also email me at project-ares@datistry.com as I would be interested in your interest in the project.
    </p>
</div>
{{ end }}
