{{ define "title" }}Series{{ end }}

{{ define "content" }} 
{{  range $key, $value := .series }}
    <li><a href="/series/{{ $value.Id }}">{{ $value.Name }}</a></li>
{{ end }}
<a href="series/add">Add New Series</a>
{{ end }}

